<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Mobile Number</th>
      <th>Date Created</th>
      <th>Trips</th>
      <th>Transaction Date</th>
    </tr>
  </thead>

  <tbody>
    <% @user.each do |user| %>
    <tr>
      <td><%= user.id%></td>
      <td> <%= user.last_name%>, <%= user.first_name%> <%= user.middle_name%></td>
      <td><%= user.username%></td>
      <td><%= user.mobile_number%></td>
      <td><%= user.created_at%></td>
      <td>
        <% user.trip_transactions.each do |t| %>
          <%= t.pickup_location%> - <%= t.drop_location%><br>
        <% end %>
      </td>
      <td>
        <% user.trip_transactions.each do |t| %>
          <%= t.created_at%><br>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
